a {
    color: pink;
}

img {
    max-width: 300px;
}

button {
    text-transform: lowercase;
    border: 1px solid red;
    color: yellow;
    background-color: blue;
    border-radius: 10%;
}
