<!DOCTYPE html>
<html>
    <head>
        <title>Git train 2.0</title>
        <link rel="stylesheet" href="../assets/css/styles.css">
    </head>
    <body>
        <h1>Git train</h1>
        <div>
            <h2>What's going on?</h2>
            <p>I'm gonna share my wisdom with Andrii and make him a master of Git. This amazing web project is gonna help me do just that.</p>
            <p>I also want to put this beautiful image here:</p>
            <img src="../assets/images/cat.jpg" alt="my cat"/></br>
            <img src="../assets/images/cat.jpg" alt="my cat"/></br>
	    <img src="../assets/images/cat.jpg" alt="my cat"/></br>
            
            <p>I also want to put this beautiful tractorec here:</p>
            <img src="https://bit.ly/2IkPAe3" alt="my tractor"/>
        </div>
        <span><a href="kseniia.html">Check out Kseniia's page</a></span>
        <span><a href="andrii.html">Check out Andrii's page</a></span>
        <div>
            <button onclick="showAlert()">Click here</button>
        </div>
        <script type="text/javascript" src="../assets/js/scripts.js"></script>
    </body>
</html>
